<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Bank Transfer</title>
    </head>


    <body>
        

		<h1>Your account</h1>

        <table>
		<tr>
		<th style="text-align:left">Username: <td>{{user.username}} 
		<tr>
		<th style="text-align:left">Balance:  <td>{{user.account.balance}}
		</table>


        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>

<!-- Fix to flaw 1
        <h2>Transfer money</h2>

        <form id='transfer' action='transfer/' method="POST">  
            {% csrf_token %}    
            <span>To:</span><br/>
            
            <select name="to">
			{% for account in accounts %}
                <option value="{{account.user.username}}">{{account.user.username}}</option>
			{% endfor %}
            </select><br/>

            <span>Amount:</span><br/>
            <input type="number" name="amount"/><br/>

            <input type="submit" value="Transfer"/>
</form>-->

        <h2>Transfer money</h2>

        <form id='transfer' action='transfer/' method="GET">
            <span>From:</span><br/>

            <select name="from">
			
                <option value="{{user.username}}">{{user.username}}</option>
			
            </select><br/>
            <span>To:</span><br/>

            

            <select name="to">
			{% for account in accounts %}
                <option value="{{account.user.username}}">{{account.user.username}}</option>
			{% endfor %}
            </select><br/>

            <span>Amount:</span><br/>
            
            <input type="text" name="amount"/><br/>

            <input type="submit" value="Transfer"/>

        
        </form>

        <h2>Messages</h2>

		{% for mail in mails %}
        
		<i>From {{mail.source.username}} to {{mail.target.username}}</i></br>
		{{mail.content|safe}}
		</br>
		</br>

		{% endfor %}


        <h2>Send mail</h2>

        <form action='mail/' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            To:
            <select name="to">
            {% for account in accounts %}
                <option value="{{account.user.username}}">{{account.user.username}}</option>
            {% endfor %}
            </select><br/>

			<textarea name="content" id="textId" cols="40" rows="5"></textarea><br/>
            <input type="submit" value="Send">
    
        </form>

        

    </body>
   
</html>
